/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/**
 * Styles for content wraps
 */

.c-content-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
