/* ==========================================================================
   #BLOCK
   ========================================================================== */

/**
 * Base styles for block level elements
 */


 /**
  * Base styles for container fonts
  */

 .c-col-title {
    margin-bottom: 20px;
 }

 .c-col-subtitle {
    margin-top: -10px;
    margin-bottom: 20px;
}
