///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Breakpoints 
$mobile:	600px;
$tablet:	750px;
$desktop:	1000px;
$wide:    	1200px;
$superwide:	1500px;

// Site Width
$max-site-width: 1600px;

// Standardise some UI treatments.
$global-radius: 4px !default;
$global-transition: all 300ms ease-in-out !default;


//Form element heights
$field-height-mobile: 34px;
$field-height-desk: 40px;
$field-height-large: 60px;
